    </div>
  </body>
  
    <footer style="background-color:black" class="footer" align='center'><a href='https://projects.intra.42.fr/hypertube/jubougno'>© 2017 abourgeu, gpotte, jubougno</a></footer>
</html>
