<% include partials/header %>
<div class="container movie-list row">
  <div class="input-group">
    <input type="text" class="form-control">
    <span class="input-group-btn">
      <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
    </span>
  </div>
  <br>
</div>
<script src="/js/suggestion_serie.js"></script>
<% include partials/footer %>
