<% include ../partials/header %>
	<% if (message.length > 0) { %>
		<div class="alert alert-danger"><%= message %></div>
	<% } %>
	<% if (success.length > 0) { %>
	    <div class="alert alert-success"><%= success %></div>
	<% } %>
	<div class="jumbotron jumbotronWithForm">
		<div class="container">
			<div class="row well well-lg">
				    <h2>Log In<h2>
				    <form action="/login" method="POST" id="logInForm">
				      <div class="form-group">
				        <input type="text" name="username" placeholder="Username" class="form-control" required=true>
				        <input type="password" name="password" placeholder="Password" class="form-control" required=true>
				      </div>
				      <input type='submit' class="btn btn-default btn-primary" value="Log In">
				      <a class="btn btn-default btn-warning" href="/signin">Sign In</a><br />
				      <h4><small><a href="/lost">Password Lost</a></small></h4><br />
				      
				      <h3>Or connect with...</h3>
				      <a href="/auth/github" class="btn btn-primary"><span class="fa fa-github"></span> Github</a>
				      <a href="/auth/instagram" class="btn btn-primary "><span class="fa fa-instagram"></span> Insta</a>
				      <a href="/auth/facebook" class="btn btn-primary"><span class="fa fa-facebook"></span> Facebook</a>
				      <a href="/auth/intra42" class="btn btn-primary"><span class="icon-42"></span> Intra 42</a>
				      <a href="/auth/twitter" class="btn btn-primary"><span class="fa fa-twitter"></span> Twitter</a>
				      <a href="/auth/linkedin" class="btn btn-primary"><span class="fa fa-linkedin"></span> Linkedin</a>
				    </form>
			</div>
		</div>
	</div>

<% include ../partials/footer %>
